<div class="content">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px grid">


        <div [fxFlex]="(100/2) + '%' " fxFlex.xs="100% " fxFlex.sm="50% ">
            <mat-card class="mat-elevation-z4 ">
                <mat-card-content>
                    <form class="example-form" [formGroup]="registerForm " (ngSubmit)="registerUser() ">

                        <p class="h4 mb-4">sign up step 1</p>
                        <mat-form-field class="example-full-width" appearance="fill" floatLabel="always">
                            <label for="idNumber">ID</label>
                            <!-- <input type="text" matInput [formControl]="idFormControl" [errorStateMatcher]="matcher" placeholder="123456789 " formControlName="idNumber" required> -->
                            <input type="text" matInput placeholder="123456789 " formControlName="idNumber" required>
                            <mat-hint>Your 9 digit ID number</mat-hint>
                            <!-- <mat-error *ngIf="idFormControl.hasError( 'text') && !idFormControl.hasError( 'required') "> -->
                            <!-- <mat-error *ngIf="registerForm.get('idNumber').touched && registerForm.get('idNumber').errors?.required ">
                                The ID number is <strong>required</strong>
                            </mat-error> -->
                            <!-- <mat-error *ngIf="idFormControl.hasError( 'required') ">
                                The ID number is <strong>required</strong>
                            </mat-error> -->
                            <!-- <input matInput placeholder="ID number" required>
                            <mat-hint>Enter a unique id number</mat-hint>
                            <mat-error>The ID number is required</mat-error> -->
                        </mat-form-field>

                        <mat-form-field class="example-full-width" appearance="fill" floatLabel="always">
                            <mat-label>Email</mat-label>
                            <!-- <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" placeholder="Username Ex. pat@example.com " formControlName="username" required> -->
                            <input type="email" matInput placeholder="Username Ex. pat@example.com " formControlName="username" required>
                            <!-- <mat-hint>Only usernames in the format of email addresses are accepted!</mat-hint>
                            <mat-error *ngIf="registerForm.get('username').touched && registerForm.get('username').errors?.required && registerForm.get('username').errors?.email ">
                                Please enter a valid email address The EMAIL number is <strong>required</strong>
                            </mat-error> -->
                            <!-- <mat-error *ngIf="emailFormControl.hasError( 'email') && !emailFormControl.hasError( 'required') ">
                                Please enter a valid email address
                            </mat-error> -->
                            <!-- <mat-error *ngIf="emailFormControl.hasError( 'required') ">
                                The EMAIL number is <strong>required</strong>
                            </mat-error> -->
                        </mat-form-field>

                        <mat-form-field class="example-full-width" appearance="fill" floatLabel="always">
                            <mat-label>Password</mat-label>
                            <!-- <input type="password" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher" placeholder="Password " formControlName="UserPassword1" required> -->
                            <input type="password" matInput placeholder="Password " formControlName="password1" required>
                            <!-- <mat-hint>Password with minimum 5 digits</mat-hint>
                            <mat-error *ngIf="registerForm.get('password1').touched && registerForm.get('password1').errors?.required ">
                                The Password is <strong>required</strong>
                            </mat-error> -->
                            <!-- <mat-error *ngIf="passwordFormControl.hasError( 'text') && !passwordFormControl.hasError( 'required') ">
                                Please enter a valid password
                            </mat-error>
                            <mat-error *ngIf="passwordFormControl.hasError( 'required') ">
                                The EMAIL number is <strong>required</strong>
                            </mat-error> -->

                        </mat-form-field>

                        <mat-form-field class="example-full-width" appearance="fill" floatLabel="always">
                            <mat-label>Confirm password</mat-label>
                            <!-- <input type="password" matInput [formControl]="password2FormControl" [errorStateMatcher]="matcher" placeholder="Password " formControlName="password2" required> -->
                            <input type="password" matInput placeholder="Password " formControlName="password2" required>
                            <!-- <mat-hint>Password with minimum 5 digits</mat-hint>
                            <mat-error *ngIf="registerForm.get('password2').touched && registerForm.get('password2').errors?.required ">
                                The Password is <strong>required</strong>
                            </mat-error> -->
                            <!-- <mat-error *ngIf="password2FormControl.hasError( 'text') && !password2FormControl.hasError( 'required') ">
                                Please enter a valid password
                            </mat-error> -->

                        </mat-form-field>
                    </form>

                </mat-card-content>
            </mat-card>
        </div>
        <div [fxFlex]="(100/2) + '%' " fxFlex.xs="100% " fxFlex.sm="50% ">
            <mat-card>
                <mat-card-content>
                    <!-- Default form register -->
                    <form class="text-center border border-light p-5" [formGroup]="registerForm" (ngSubmit)="registerUser()">
                        <p class=" h4 mb-4 ">Sign up</p>

                        <mat-form-field appearance="fill">
                            <mat-label>City</mat-label>
                            <mat-select formControlName="city">
                                <mat-option *ngFor="let city of cities " [value]="city.value ">
                                    {{city.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="example-full-width " appearance="fill">
                            <mat-label>Street</mat-label>
                            <input type="text" matInput formControlName=" street " placeholder=" Street ">
                        </mat-form-field>

                        <mat-form-field class="example-full-width " appearance="fill">
                            <mat-label>First name</mat-label>
                            <input type="text" matInput formControlName="firsttName " placeholder="First name ">
                        </mat-form-field>

                        <mat-form-field class="example-full-width " appearance="fill">
                            <mat-label>Last name</mat-label>
                            <input type="text" matInput formControlName="lastName " placeholder="Last Name ">
                        </mat-form-field>




                        <!-- Sign up button -->
                        <mat-form-field>
                            <button mat-raised-button color="primary " block="true " class="my-4 " type="submit ">REGISTER</button>
                        </mat-form-field>


                        <hr>

                        <!-- Terms of service -->
                        <p>By clicking
                            <em>Sign up</em> you agree to our
                            <a href=" " target="_blank ">terms of service</a></p>


                        <!-- Default form register -->
                    </form>
                </mat-card-content>
            </mat-card>
        </div>




    </div>
</div>