<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span><img class="logo" alt="logo" src="./assets/Super express logo.JPG"></span>
        <span class="example-spacer"></span>

        <span>1 Jerusalem Street / 02-5552233</span>

    </mat-toolbar-row>

    <mat-toolbar-row>
        <form class="form-inline md-form form-sm">
            <!-- <label>Search product   </label> -->
            <input type="text" class="form-control" id="search-text" aria-describedby="search-text" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" placeholder="Enter text to search" autofocus>
            <mat-icon aria-hidden="false">search</mat-icon>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let product of products | searchProduct: searchText" appHighlight [searchedWord]="searchText" [content]="product.name" [classToApply]="'font-weight-bold'" [setTitle]="true">
                    {{product.name}}
                </li>
            </ul>
        </form>
        <span class="example-spacer"></span>
        <span *ngIf="authService.isLoggedIn()"><button routerLink="/" (click)="authService.logout() ">Logout</button></span>
        <span *ngIf="authService.isLoggedIn()">Welcome: {{authService.currentUser.firstName}}</span>

    </mat-toolbar-row>
</mat-toolbar>