:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/* .mat-form-field {
    width: 100%;
    min-width: 300px;
} */

.mat-card-content {
    width: 100%;
    min-width: 300px;
    height: 100%;
}

.mat-card {
    height: 400px;
}

.mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}

.error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
}

.button {
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-radius: 4px;
    background-color: blue;
}

.content {
    padding: 16px;
}

.content>mat-card {
    margin-bottom: 16px;
}

.shopPic {
    height: 250px;
    width: 250px;
}