<div class="col-sm-6">
    <h1 class="card-title" style="text-align-last: right;">
        Order
    </h1>


    <div class="container">
        <div class="row">
            <div class="col shippingDetails">
                Shipping Details
            </div>
        </div>
        <div class="row">
            <div class="col">
                City
            </div>
            <div class="col form-group">
                <input type="text" id="delliveryCity" formControlName="delliveryCity" class="form-control" placeholder="city of dellivery ">
            </div>
        </div>
        <div class="row">
            <div class="col">
                Street
            </div>
            <div class="col">
                <input type="text" id="delliveryStreet" formControlName="delliveryStreet" class="form-control" placeholder="steet of dellivery ">
            </div>
        </div>
        <div class="row">
            <div class="col">
                Shipping Date
            </div>
            <div class="col">
                <input type="date" id="delliveryDate" formControlName="delliveryDate" class="form-control" placeholder="dellivery date">
            </div>
        </div>
        <div class="row">
            <div class="col shippingDetails">
                Payment details
            </div>
        </div>
        <div class="row">
            <div class="col">
                Credit Card Details
            </div>
            <div class="col">
                <input type="number" id="creditCard" formControlName="creditCard" class="form-control" placeholder="credit card number">
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
                <button class="btn btn-dark btn-sm " (click)="goToOrderForm()">Submit</button>
            </div>
        </div>
    </div>
</div>