<div class="row shoppingMain flex-grow-1">

    <div class="col-sm-2" [ngClass]="resize ? 'col-sm-6' : 'col-sm-2'">
        <mat-icon aria-hidden="false" (click)=" resizePage() ">arrow_forward</mat-icon>
    </div>
    <div [ngClass]="resize ? 'col-sm-6' : 'col-sm-10'">
        <mat-icon aria-hidden="false" (click)=" resizePage() ">arrow_back</mat-icon>
        <shopping-header (newSelectedCategory)="shoppingSelectedCategory($event)"></shopping-header>


        <pagination-controls (pageChange)="pageSecond = $event" id="second"></pagination-controls>
        <div *ngIf="!filteredProducts">
            <div class="row row-cols-1 row-cols-md-6 g-4 mr-3">


                <div class="card text-center border-primary mb-3" *ngFor="let product of products | paginate: { itemsPerPage: 12, currentPage: pageSecond, id:'second' }">
                    <img [src]="product.image " [alt]="product.name " class="card-img-top img-fluid">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <h5>{{ product.price | currency: 'ILS':true }}</h5>
                    </div>
                </div>

            </div>
        </div>

        <div *ngIf="filteredProducts">
            <div class="row row-cols-1 row-cols-md-6 g-4 mr-3">


                <div class="card text-center border-primary mb-3" *ngFor="let product of filteredProducts | paginate: { itemsPerPage: 12, currentPage: pageSecond, id:'second' }">
                    <img [src]="product.image " [alt]="product.name " class="card-img-top img-fluid">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <h5>{{ product.price | currency: 'ILS':true }}</h5>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>