:host {
    display: flex;
    justify-content: center;
    margin: 15px 0px;
    width: 100%;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

p {
    padding-top: 10px;
}


/* .mat-form-field {
    width: 100%;
    min-width: 300px;
} */

.adminContent {
    padding: 16px;
}

.adminContent>mat-card {
    margin-bottom: 16px;
}

.shoppingCart {
    width: 100%;
    min-width: 200px;
    height: 100%;
    padding-left: 16px;
}

img {
    height: 60px;
}

.mat-card {
    height: 500px;
    width: 70%;
}

.mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}

.error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
}

.button {
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-radius: 4px;
    background-color: blue;
}

.contentAdmin>mat-card {
    margin-bottom: 16px;
}

.inside {
    justify-self: center;
    padding: 16px;
    width: 100%;
}

.col {
    background: red;
}

mat-grid-tile {
    background: lightblue;
}

.example-card {
    max-width: 300px;
}

.card2 {
    height: 100px
}

.navMenu {
    font-size: 10px;
    padding: 10px;
}