:host {
    display: flex;
    justify-content: center;
    margin: 20px 20px;
    /* width: 100%; */
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button {
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-radius: 4px;
    background-color: blue;
}

.content {
    justify-self: center;
    padding: 16px;
    width: 100%;
}

.card-img-top {
    height: 100px;
}